/* src/pages/FeaturedProfiles.css */

#featured-profiles {
  background: linear-gradient(to right, #fff0f5, #fefeff);
  border-radius: 20px;
  padding: 40px 20px;
}

.profile-card {
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
}

.profile-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}

.profile-card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 300px;
  object-fit: cover;
}
